<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>

<div th:replace="fragments :: navbar"></div>

<div class="form-container">
    <h1> Create new post</h1>

    <form th:action="@{/create-post}" method="post">
        <textarea name="content" placeholder="Write your post here" required></textarea>


        <label for="initiativeId">Choose Initiative (Optional):</label>
        <select name="initiativeId" id="initiativeId">
            <option value="">-Public-</option>
            <option th:each="i : ${initiatives}" th:value="${i.id}" th:text="${i.title}"></option>
        </select>
        <button type="submit">Publish</button>
    </form>
</div>

</body>
</html>