<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" as="image" href="/images/empty-boat-at-sea.jpg">
    <meta charset="UTF-8">
    <title>LocalZero - Feed</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="feed-wrapper">
    <div th:each="post : ${posts}">
        <div th:replace="~{fragments :: post(post=${post})}"></div>
    </div>
</div>

</body>
</html>
