<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<div th:fragment="navbar">
    <nav class="navbar">
        <a href="/profile">Profile</a>
        <a href="/feed" class="logo">Feed</a>
        <a href="/initiatives/new">Create initiative</a>
        <a href="/create-post">Create post</a>
        <a href="/logout">Log Out</a>
    </nav>
</div>

<div th:fragment="profile(user, posts)">
    <div class="profile-container">
        <div class="profile-card">
        <h1 th:text="'Hello,' + ${user.name} + '!'">Hello, User!</h1>
        <p><strong>Email</strong> <span th:text="${user.email}">mail@example.com</span></p>
        <!--<p><strong>Inlägg:</strong> <span th:text="${user.posts.size()}">0</span></p> -->
        </div>
        <div class="user-posts">
            <h2>Your posts</h2>
            <div th:if="${#lists.isEmpty(posts)}">
                <p>You have not posts yet!</p>
            </div>
            <div th:each="post : ${posts}">
                <div th:replace="~{fragments :: post(post=${post})}"></div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="post(post)">
    <div class="feed-post">
        <div class="feed-post-header">
            <span th:if="${post != null and post.author != null}" th:text="${post.author.name}"></span>
            <span th:unless="${post != null and post.author != null}">Unknown user</span>
        </div>

        <div class="feed-post-content" th:text="${post.content}">Post Content</div>

        <div class="feed-actions">
            <form th:action="@{/posts/{id}/like(id=${post.id})}" method="post" style="display:inline;">
                <input type ="hidden" name="source" th:value="${source}"/>
                <button type="submit" class="like-button">❤️</button>
                <span th:text="${post.likesCount}">0</span>
            </form>
        </div>

        <div class="post-footer">
            <span th:text="${#temporals.format(post.creationDatetime, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
    </div>
</div>


</body>
</html>