<div>
    <!-- Community-lista -->
    <p><strong>Community:</strong></p>
    <ul>
        <li th:each="c : ${i.communities}" th:text="${c.memberEmail}"></li>
    </ul>

    <!-- Titel och skapelsedatum -->
    <div class="feed-post-header">
        <strong th:text="${i.title}">Titel</strong>
        <span th:text="${#temporals.format(i.creationDatetime, 'yyyy-MM-dd HH:mm')}"></span>
    </div>

    <!-- Beskrivning -->
    <div class="feed-post-content">
        <p th:text="'Location: ' + ${i.location}"></p>
        <p th:text="${i.description}"></p>

        <p><strong>Category:</strong>
            <span th:text="${i.category}"></span>
        </p>

        <p><strong>Start:</strong>
            <span th:text="${#temporals.format(i.startDate, 'yyyy-MM-dd HH:mm')}"></span>
        </p>

        <p><strong>End:</strong>
            <span th:text="${#temporals.format(i.endDate, 'yyyy-MM-dd HH:mm')}"></span>
        </p>
    </div>
</div>
