<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LocalZero - Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section class="form-container">
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div class="input-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <p id="register-link">
        Don't have an account? <a th:href="@{/register}">Register here</a>
    </p>
    <div th:if="${param.error}" class="error-message">
        Invalid email or password.
    </div>

    <script th:if="${param.error}" th:inline="javascript">
        console.log('Login error: [[${param.error}]]');
    </script>
</form>
</section>
</body>
</html>