
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" as="image" href="/images/empty-boat-at-sea.jpg">
    <meta charset="UTF-8">
    <title>User Not found</title>
    <link rel="stylesheet" href="/css/profileStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>


<div th:replace="~{fragments :: navbar}"></div>


<div class="error-container">
    <h1>Oh!</h1>
    <p th:text="${message}">User not found!</p>
    <a href="/feed">Go back to feed</a>
</div>

</body>
</html>
